<section class="section-fc section-primary" id="home">
  <nav class="header-wrap">
    <div class="header__nav-container">
      <a class="nav__logo" href="#">#k4</a>
      <div class="nav__menu">
        <nav class="header__nav" id="navbarNav">
          <a href="#home" class="header__nav-link" [ngClass]="{'nav-active': currentPage === 'home'}" (click)="changePage('home')">Home</a>
          <a href="#about" class="header__nav-link" [ngClass]="{'nav-active': currentPage === 'about'}" (click)="changePage('about')">About</a>
          <a href="#contact" class="header__nav-link" [ngClass]="{'nav-active': currentPage === 'contact'}" (click)="changePage('contact')">Contact</a>
          <a href="#playground" class="header__nav-link" [ngClass]="{'nav-active': currentPage === 'playground'}" (click)="changePage('playground')">Playground</a>
        </nav>
        <a href="#chat" class="header__button btn-huge btn-white d-none d-lg-block">Let's Chat <i class="ms-2 fa-solid fa-comment-dots"></i></a>
      </div>
      <details #detail class="nav__btn-collapse menu_toggle">
        <summary class="icon_hamburger">
          <div></div>
          <div></div>
          <div></div>
        </summary>
      </details>
    </div>
  </nav>
  <div class="hero__main container">
    <div class="row hero__grid">
      <div class="col-12 col-lg-5">
        <h2 class="hero__main-subtitle">Hello world!</h2>
        <div class="hero__main-title">
          <h1 class="hero__main-name">I'm <strong>Khang Bui Dinh</strong></h1>
          <span>&lt;</span>
          <span class="text-primary">Developer</span>
          <span>&gt;</span>
        </div>
        <p class="hero__main-quote">
          A programmer who designs web interfaces, starting from the love of drawing but not knowing how to use a pencil
        </p>
        <div class="hero__main-actions">
          <button class="btn-huge ka-oline-secondary btn_ka-secondary">Hire me!</button>
        </div>
      </div>
      <div class="col-12 col-lg-7 position-relative">
        <div class="bg-green-gradient">
        </div>
        <img src="./assets/images/hero_thumb.png" class="hero__main-avatar" loading="lazy">
        <!-- <img src="./assets/images/web_developer.svg" class="hero__main-avatar" loading="lazy"> -->
      </div>
    </div>
  </div>
</section>
<section id="about" class="section-fc">
  <div class="container about__main">
    <div class="d-grid d-lg-flex align-items-start gap__v-2 gap__h-2">
      <div class="intro">
        <h1 class="ka__txt-primary txt-huge text-uppercase fw-bold">{{information.exp}}</h1>
        <h3 class="sub__title fw-bold">Experience as {{information.field}}</h3>
        <p class="short__bio">
          {{information.bio}}
        </p>
      </div>
      <div class="coding-wrapper">
        <img class="intro-coding-image" src="./assets/images/coding.png" loading="lazy" alt="Intro Coding Image" srcset="https://assets.website-files.com/62eb5311728cd914e53b634a/62f1fada03397b8970126c10_experience-intro-image-1-p-500.png 500w, https://assets.website-files.com/62eb5311728cd914e53b634a/62f1fada03397b8970126c10_experience-intro-image-1.png 550w">
        <h4 class="intro-coding-title">
          Coding &
          <br>
          Programming
        </h4>
      </div>
    </div>

  </div>
</section>
