<section class="section-primary">
  <nav class="header-wrap">
    <div class="header__nav-container">
      <a class="nav__logo" href="#">#k4</a>
      <div class="nav__menu">
        <nav class="header__nav" id="navbarNav">
          <a href="#home" class="header__nav-link">Home</a>
          <a href="#about" class="header__nav-link">About</a>
          <a href="#contact" class="header__nav-link">Contact</a>
          <a routerLink="/playground" class="header__nav-link">Playground</a>
        </nav>
        <a href="#chat" class="header__button btn-huge btn-white d-none d-lg-block">Let's Chat <i class="ms-2 fa-solid fa-comment-dots"></i></a>
      </div>
      <details #detail class="nav__btn-collapse menu_toggle">
        <summary class="icon_hamburger">
          <div></div>
          <div></div>
          <div></div>
        </summary>
      </details>
    </div>
  </nav>
  <div class="hero__main container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="hero__main-subtitle">Hello world!</h2>
        <div class="hero__main-title">
          <h1 class="hero__main-name">I'm <strong>Khang Bui Dinh</strong></h1>
          <span>&lt;</span>
          <span class="text-primary">Front-end Developer</span>
          <span>&gt;</span>
        </div>
        <p class="hero__main-quote">
          A programmer who designs web interfaces, starting from the love of drawing but not knowing how to use a pencil
        </p>
        <div class="hero__main-actions">
          <button class="btn-huge ka-oline-secondary btn_ka-secondary">Hire me!</button>
        </div>
      </div>
      <div class="col-12 col-lg-6 position-relative">
        <div class="bg-green-gradient">
        </div>
        <img src="./assets/images/hero-main-image.png" class="hero__main-avatar" loading="lazy">
      </div>
    </div>
  </div>
</section>
<section class="section-secondary">
<h1  id="about">khang</h1>
</section>
